<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-12">
        <MasterRewardTable />
      </div>
    </div>
  </div>
</template>

<script>
import MasterRewardTable from '../components/MasterRewardTable.vue';

export default {
  name: "masterrewar",
  components: {
    MasterRewardTable,
  },
};
</script>
