<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-12">
        <undian />
      </div>
    </div>
  </div>
</template>

<script>
import Undian from '../components/Undian.vue';

export default {
  name: "tablepeserta",
  components: {
    Undian,
  },
};
</script>
