<template>
  <div class="card mb-4">
    <div class="card-header pb-0">
      <h6>Manajemen Peserta</h6>
      <soft-button class="my-4 mb-2" size="sm" color="info" @click="statFormPeserta = !statFormPeserta"
        >Tambah Peserta
      </soft-button>
      <div class="card-body" v-if="statFormPeserta">
        <label>Nomor Undian</label>
        <soft-input
          :value="formPeserta.nomor_undian"
          @myinput="nomorundian($event)"
          id="nomorundian"
          type="nomorundian"
          placeholder="Nomorundian"
          name="nomorundian"
        />
        <label>Nama Peserta</label>
        <soft-input
          :value="formPeserta.nama_peserta"
          @myinput="namapeserta($event)"
          id="namapeserta"
          type="namapeserta"
          placeholder="Namapeserta"
          name="namapeserta"
        />
        <label>Alamat</label>
        <soft-input
          :value="formPeserta.alamat"
          @myinput="alamat($event)"
          id="alamat"
          type="alamat"
          placeholder="Alamat"
          name="alamat"
        />
        <div class="text-center">
          <soft-button
            class="my-4 mb-2"
            variant="gradient"
            color="success"
            full-width
            @click="postPeserta()"
            >Simpan
          </soft-button>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
                <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                Peserta
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Nomor Undian
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                Alamat
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list, index) in pesertas" :key="index">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <soft-avatar
                      :img="img1"
                      size="sm"
                      border-radius="lg"
                      class="me-3"
                      alt="user1"
                    />
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nama_peserta }}</h6>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs text-secondary mb-0">{{ list.nomor_undian }}</p>
              </td>
              <td>
                <p class="text-xs text-secondary mb-0">{{ list.alamat }}</p>
              </td>
              <td class="align-middle">
                <div>
                  <soft-button
                    style="margin-right: 2%"
                    class="my-4 mb-2"
                    size="sm"
                    color="warning"
                    @click="formEdit(list)"
                    >Edit
                  </soft-button>
                  <soft-button
                    class="my-4 mb-2"
                    size="sm"
                    color="danger"
                    @click="delPeserta(list.id)"
                    >Delete
                  </soft-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SoftAvatar from "@/components/SoftAvatar.vue";
import img1 from "../../assets/img/team-2.jpg";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";

import "sweetalert2/src/sweetalert2.scss";
import { Actionpeserta } from "../../store/manajemen_peserta/types";

export default {
  name: "com-table-peserta",
  data() {
    return {
      statFormPeserta:false,
      pesertas: [],
      formPeserta:{
        nomor_undian:"",
        nama_peserta:"",
        alamat:"",
        createdBy:"",
        judulUndianId:"",
      },
      img1,
    };
  },
  components: {
    SoftInput,
    SoftButton,
    SoftAvatar,
  },
  created() {
    this.getAllPeserta();
  },
  methods: {
    formEdit(isi){
      console.log(isi.id);
      this.statFormPeserta = true;
      this.formPeserta = isi;
    },
    nomorundian(isi){
      console.log(isi);
      this.formPeserta.nomor_undian=isi;
    },
    namapeserta(isi){
      console.log(isi);
      this.formPeserta.nama_peserta=isi;
    },
    alamat(isi){
      console.log(isi);
      this.formPeserta.alamat=isi;
    },
    async postPeserta() {
      try {
        console.log(this.formPeserta.id);
        if(this.formPeserta.id === undefined || this.formPeserta.id === null){
          Swal.showLoading();
          this.formPeserta.createdBy = await localStorage.getItem('idUser');
          this.formPeserta.judulUndianId = await this.$route.query.id;
          let res = await this.$store.dispatch(`${Actionpeserta.postPeserta}`, this.formPeserta);
          console.log(res);
          await this.getAllPeserta();
          this.statFormPeserta=await false;
          Swal.close();
        }else{
          this.putPeserta(this.formPeserta);
        }
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async delPeserta(id) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionpeserta.delPeserta}`,id);
        console.log(res);
        await this.getAllPeserta();
        this.formPeserta.id = await null;
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async putPeserta(isi) {
      try {
        Swal.showLoading();
        isi.createdBy = await localStorage.getItem('idUser');
        isi.judulUndianId = await this.$route.query.id
        let res = await this.$store.dispatch(`${Actionpeserta.putPeserta}`,isi);
        console.log(res);
        this.statFormPeserta=await false;
        this.formPeserta.id = await null;
        await this.getAllPeserta();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async getAllPeserta() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionpeserta.getAllPesertaByCreated}`, this.$route.query.id);
        this.pesertas = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
  },
};
</script>
