<template>
  <div class="card mb-4">
    <div class="card-header pb-0">
      <h6>Master Hadiah</h6>
      <soft-button class="my-4 mb-2" size="sm" color="info" @click="statFormHadiah = !statFormHadiah"
        >Tambah Hadiah
      </soft-button>
      <div class="card-body" v-if="statFormHadiah">
        <label>Nama Hadiah</label>
        <soft-input
          :value="formHadiah.nama_hadiah"
          @myinput="namahadiah($event)"
          id="namahadiah"
          type="namahadiah"
          placeholder="Namahadiah"
          name="namahadiah"
        />
        <label>Urutan Hadiah</label>
        <soft-input
          :value="formHadiah.urutan_hadiah"
          @myinput="urutanhadiah($event)"
          id="urutanhadiah"
          type="number"
          placeholder="urutanhadiah"
          name="urutanhadiah"
        />
        <soft-input
          :value="formHadiah.qty"
          @myinput="qty($event)"
          id="qty"
          type="number"
          placeholder="qty"
          name="qty"
        />
        <label>File
        <input type="file" @change="handleFileUpload( $event )"/>
      </label>
        <div class="text-center">
          <soft-button
            class="my-4 mb-2"
            variant="gradient"
            color="success"
            full-width
            @click="postHadiah()"
            >Simpan
          </soft-button>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
                <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                Nama Hadiah
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Urutan Hadiah
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Qty
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list, index) in rewards" :key="index">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <soft-avatar
                      :img="(list.img != null)?`http://localhost:3001/api/foto/${list.img}`:img1"
                      size="sm"
                      border-radius="lg"
                      class="me-3"
                      alt="user1"
                    />
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nama_hadiah }}</h6>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs text-secondary mb-0">{{ list.urutan_hadiah }}</p>
              </td>
              <td>
                <p class="text-xs text-secondary mb-0">{{ list.qty }}</p>
              </td>
              <td class="align-middle">
                <div>
                  <soft-button
                    style="margin-right: 2%"
                    class="my-4 mb-2"
                    size="sm"
                    color="warning"
                    @click="formEdit(list)"
                    >Edit
                  </soft-button>
                  <soft-button
                    class="my-4 mb-2"
                    size="sm"
                    color="danger"
                    @click="delHadiah(list.id)"
                    >Delete
                  </soft-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SoftAvatar from "@/components/SoftAvatar.vue";
import img1 from "../../assets/img/team-2.jpg";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";

import "sweetalert2/src/sweetalert2.scss";
import { ActionMasterReward } from "../../store/master_reward/types";

export default {
  name: "MasterRewardTable",
  data() {
    return {
      statFormHadiah:false,
      rewards: [],
      formHadiah:{
        filesFoto:'',
        nama_hadiah:"",
        urutan_hadiah:"",
        alamat:"",
        qty:"",
        created_by:"",
        judulUndianId:""
      },
      img1,
    };
  },
  components: {
    SoftInput,
    SoftButton,
    SoftAvatar,
  },
  created() {
    this.getAllReward();
  },
  methods: {
    handleFileUpload(event){
      this.formHadiah.filesFoto = event.target.files[0];;
    },
    formEdit(isi){
      console.log(isi.id);
      this.statFormHadiah = true;
      this.formHadiah = isi;
    },
    namahadiah(isi){
      console.log(isi);
      this.formHadiah.nama_hadiah=isi;
    },
    urutanhadiah(isi){
      console.log(isi);
      this.formHadiah.urutan_hadiah=isi;
    },
    qty(isi){
      console.log(isi);
      this.formHadiah.qty=isi;
    },
    async postHadiah() {
      try {
        console.log(this.formHadiah.id);
        if(this.formHadiah.id === undefined || this.formHadiah.id === null){
          Swal.showLoading();
          this.formHadiah.created_by = await localStorage.getItem('idUser');
          this.formHadiah.judulUndianId = await this.$route.query.id;
          let res = await this.$store.dispatch(`${ActionMasterReward.postReward}`, this.formHadiah);
          console.log(res);
          await this.getAllReward();
          this.statFormHadiah=await false;
          Swal.close();
        }else{
          this.putHadiah(this.formHadiah);
        }
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async delHadiah(id) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${ActionMasterReward.delReward}`,id);
        console.log(res);
        await this.getAllReward();
        this.formHadiah.id = await null;
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async putHadiah(isi) {
      try {
        Swal.showLoading();
        isi.createdBy = await localStorage.getItem('idUser');
        isi.judulUndianId = await this.$route.query.id;
        let res = await this.$store.dispatch(`${ActionMasterReward.putReward}`,isi);
        console.log(res);
        this.statFormHadiah=await false;
        this.formHadiah.id = await null;
        await this.getAllReward();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async getAllReward() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${ActionMasterReward.getAllReward}`,this.$route.query.id);
        this.rewards = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
  },
};
</script>
