<template>
  <div class="row">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="row">
        <div class="col-lg-12 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-7">
                  <h5 class="mb-2 text-black">Daftar Hadiah</h5>
                  <TableReward :rewards="multiselect.option" />
                </div>
                <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                  <div class="bg-gradient-success border-radius-lg h-100">
                    <img
                      src="../../assets/img/shapes/waves-white.svg"
                      class="
                        position-absolute
                        h-100
                        w-50
                        top-0
                        d-lg-block d-none
                      "
                      alt="waves"
                    />
                    <div
                      class="
                        position-relative
                        d-flex
                        align-items-center
                        justify-content-center
                        h-60
                      "
                    >
                      <img
                        class="w-100 position-relative z-index-2 pt-4"
                        :src="(multiselect.option.length != 0 && multiselect.option[0].img != null)?`http://localhost:3001/api/foto/${multiselect.option[0].img}`:img1"
                        alt="rocket"
                      />
                    </div>
                    <div
                      class="
                        position-relative
                        d-flex
                        align-items-center
                        justify-content-center
                        h-60
                      "
                      style="margin-top: 5%; margin-bottom: 5%"
                    >
                      <h5 class="mb-0 text-white">Hadiah Utama</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mb-lg-0 mb-4">
          <div class="card bg-gradient-white mt-4">
            <div class="card-body">
              <div class="d-flex">
                <h5 class="mb-0 text-black">Mesin Undian</h5>
                <div class="ms-auto">
                  <h1 class="mb-0 text-black text-end mt-n2">
                    {{ hitungResult }}
                  </h1>
                  <p class="mb-0 text-sm text-black">Nomor Undian</p>
                </div>
              </div>
              <div>
                <label>Hadiah</label>
                <VueMultiselect
                  v-model="multiselect.value"
                  :options="multiselect.option"
                  :close-on-select="true"
                  :clear-on-select="false"
                  placeholder="Pilih Hadiah"
                  label="nama_hadiah"
                  track-by="nama_hadiah"
                />
              </div>
              <div>
                <label>Waktu Undian (detik)</label>
                <soft-input
                  :value="waktu_undian"
                  @myinput="waktuUndian($event)"
                  id="waktuundian"
                  type="number"
                  placeholder="WaktuUndian"
                  name="waktuundian"
                />
              </div>
              <div class="text-center mb-2">
                <soft-button
                :disabled="((multiselect.value.qty<1 || multiselect.value.id == 0)?true:false)"
                  v-if="statButtonUndi == false"
                  class="my-4 mb-2"
                  color="success"
                  variant="gradient"
                  @click="startUndi()"
                  >Undi Peserta
                </soft-button>
                <soft-button
                  v-if="statButtonUndi == true"
                  class="my-4 mb-2"
                  color="danger"
                  variant="gradient"
                  @click="stopUndi()"
                  >Stop
                </soft-button>
              </div>
              <div>
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th
                          class="
                            text-uppercase text-secondary text-xxs
                            font-weight-bolder
                            opacity-7
                            ps-2
                          "
                        >
                          Nama Peserta
                        </th>
                        <th
                          class="
                            text-uppercase text-secondary text-xxs
                            font-weight-bolder
                            opacity-7
                          "
                        >
                          Nomor Undian
                        </th>
                        <th
                          class="
                            text-uppercase text-secondary text-xxs
                            font-weight-bolder
                            opacity-7
                          "
                        >
                          Hadiah
                        </th>
                        <th
                          class="
                            text-uppercase text-secondary text-xxs
                            font-weight-bolder
                            opacity-7
                          "
                        >
                          Urutan Hadiah
                        </th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(list, index) in pesertaReward" :key="index">
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <soft-avatar
                                :img="img1"
                                size="sm"
                                border-radius="lg"
                                class="me-3"
                                alt="user1"
                              />
                            </div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">
                                {{ list.pesertum.nama_peserta }}
                              </h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs text-secondary mb-0">
                            {{ list.pesertum.nomor_undian }}
                          </p>
                        </td>
                        <td>
                          <p class="text-xs text-secondary mb-0">
                            {{ list.master_reward.nama_hadiah }}
                          </p>
                        </td>
                        <td>
                          <p class="text-xs text-secondary mb-0">
                            {{ list.master_reward.urutan_hadiah }}
                          </p>
                        </td>
                        <td class="align-middle">
                          <div>
                            <soft-button
                              class="my-4 mb-2"
                              size="sm"
                              color="danger"
                              @click="delPeserta(list)"
                              >Delete
                            </soft-button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <div class="text-center mb-2">
                    <soft-button
                      v-if="pesertaReward.length != 0"
                      class="my-4 mb-2"
                      color="info"
                      full-width
                      variant="gradient"
                      @click="simpanPeserta()"
                      >Simpan Peserta
                    </soft-button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card h-100 p-3">
        <div
          class="
            overflow-hidden
            position-relative
            border-radius-lg
            bg-cover
            h-100
          "
        >
          <span class="mask bg-gradient-white"></span>
          <div class="card-body position-relative z-index-1 p-3 h-100">
            <div class="d-flex flex-column h-100">
              <h5 class="mb-2 text-white">Daftar Peserta</h5>
              <TablePeserta :pesertas="pesertas" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueMultiselect from "vue-multiselect";
import TableReward from "../components/TableUndian/TableReward.vue";
import TablePeserta from "../components/TableUndian/TablePeserta.vue";
import SoftButton from "@/components/SoftButton.vue";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import "sweetalert2/src/sweetalert2.scss";
import { Actionpeserta } from "../../store/manajemen_peserta/types";
import { ActionMasterReward } from "../../store/master_reward/types";
import { ActionUndian } from "../../store/undian/types";
export default {
  name: "TodoCard",
  props: {
    todos: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    SoftInput,
    TableReward,
    TablePeserta,
    SoftButton,
    VueMultiselect,
  },
  data() {
    return {
      pesertaReward: [],
      defaultMultiselect: {
        value: {
          nama_hadiah: "",
          id: 0,
          urutan_hadiah: 0,
        },
        option: [
          {
            nama_hadiah: "Mobil",
            id: 1,
            urutan_hadiah: 1,
          },
          {
            nama_hadiah: "Motor",
            id: 2,
            urutan_hadiah: 2,
          },
        ],
      },
      multiselect: {
        value: {
          nama_hadiah: "",
          id: 0,
          urutan_hadiah: 0,
        },
        option: [
          {
            nama_hadiah: "Mobil",
            id: 1,
            urutan_hadiah: 1,
          },
          {
            nama_hadiah: "Motor",
            id: 2,
            urutan_hadiah: 2,
          },
        ],
      },
      rewards: [],
      size: 0,
      statButtonUndi: false,
      angkaPernahMuncul: [],
      promises: [],
      pesertas: [],
      results: [],
      waktu_undian: 0,
    };
  },
  created() {
    this.getAllPeserta();
    this.getAllReward();
    this.getAllUndian();
  },
  methods: {
    // async delPeserta(index) {
    //   console.log(index);
    //   // this.pesertaReward.indexOf(index);
    //   console.log(this.pesertaReward.indexOf(index));
    //   let isiPeserta = await [];
    //   for (var i = 0; i < this.pesertaReward.length; i++) {
    //     if (i != index) {
    //       isiPeserta.push(this.pesertaReward[i]);
    //     }
    //   }
    //   this.pesertaReward = await isiPeserta;
    // },
    async delPeserta(dataUndian) {
      try {
        Swal.showLoading();
        this.pesertaReward.judulUndianId = await this.$route.query.id;
        let res = await this.$store.dispatch(
          `${ActionUndian.delUndian}`,
          dataUndian
        );
        console.log(res);
        this.getAllUndian();
        this.getAllReward();
        this.getAllPeserta();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async simpanPeserta(dataPeserta) {
      try {
        Swal.showLoading();
        this.pesertaReward.judulUndianId = await this.$route.query.id;
        let res = await this.$store.dispatch(
          `${ActionUndian.postUndian}`,
          dataPeserta
        );
        console.log(res);
        this.getAllUndian();
        this.getAllReward();
        this.getAllPeserta();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async getAllReward() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(
          `${ActionMasterReward.getAllReward}`,
          this.$route.query.id
        );
        this.multiselect.option = await [];
        res.data.sort((i, j) => { 
          return i.urutan_hadiah - j.urutan_hadiah });
        for(var i=0;i<res.data.length;i++){
          let dataReward = {
            ...res.data[i],
            $isDisabled:(res.data[i].qty < 1)?true:false,
          }
          this.multiselect.option.push(dataReward)
        }
        this.multiselect.value = await this.defaultMultiselect.value;
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async getAllUndian() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(
          `${ActionUndian.getAllUndian}`,
          this.$route.query.id
        );
        this.pesertaReward = await res.data;
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    waktuUndian(isi) {
      this.waktu_undian = isi;
    },
    async getAllPeserta() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(
          `${Actionpeserta.getAllPesertaByCreated}`,
          this.$route.query.id
        );
        this.pesertas = await res.data;
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    startUndi() {
      this.statButtonUndi = true;
      this.myLoop();
      var v = this;
      var s = this;
      let waktu = this.waktu_undian * 1000;
      var myTimer = setInterval(async function () {
        let peserta = await v.pesertas[v.results[v.results.length - 1]];
        let pesertaDouble = await v.pesertaReward.filter(
          (fl) => fl.id_peserta == peserta.id
        );
        if (pesertaDouble.length == 0) {
          s.statButtonUndi = await false;
          let pesertaHadiah = await {
            id_peserta: peserta.id,
            created_by:localStorage.getItem("idUser"),
            id_reward: v.multiselect.value.id,
            ...v.pesertas[v.results[v.results.length - 1]],
            ...v.multiselect.value,
          };
          await v.simpanPeserta(pesertaHadiah);
          await clearInterval(myTimer);
        }else{
          this.startUndi();
        }
      }, waktu);
      // 1 detik = 1000ms
    },
    async stopUndi() {
      let peserta = await this.pesertas[this.results[this.results.length - 1]];
        let pesertaDouble = await this.pesertaReward.filter(
          (fl) => fl.id_peserta == peserta.id
        );
        if (pesertaDouble.length == 0) {
          this.statButtonUndi = await false;
          let pesertaHadiah = await {
            id_peserta: peserta.id,
            created_by:localStorage.getItem("idUser"),
            id_reward: this.multiselect.value.id,
            ...this.pesertas[this.results[this.results.length - 1]],
            ...this.multiselect.value,
          };
          await this.simpanPeserta(pesertaHadiah);
        }
      this.statButtonUndi = false;
    },
    generateRandomNumber(min, max) {
      let randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;
      if (this.angkaPernahMuncul.length === max - min + 1) {
        this.angkaPernahMuncul = [];
      }
      if (this.angkaPernahMuncul.indexOf(randomNumber) === -1) {
        this.angkaPernahMuncul.push(randomNumber);
        return randomNumber;
      } else {
        return this.generateRandomNumber(min, max);
      }
    },
    async myLoop() {
      setTimeout(() => {
        this.size++;
        if (this.statButtonUndi == true) {
          this.promises.push(
            this.generateRandomNumber(0, this.pesertas.length - 1)
          );
          this.myLoop();
        } else {
          clearTimeout();
        }
      }, 100);
      this.results = await Promise.all(this.promises);
    },
  },
  computed: {
    hitungResult() {
      if (this.results.length != 0) {
        return this.pesertas[this.results[this.results.length - 1]]
          .nomor_undian;
      } else {
        return "XXXXX";
      }
    },
    getLength() {
      return this.todos.length;
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>